<div class="news-ticker">
  <div class="ticker-label">News</div>

  <div class="ticker-window">
    <div class="ticker-track">
  <span>Genny Lec LETS GO</span>
  <span>Do you want me to beg for your vote? Because I will. I'll beg for it</span>
  <span>Fush und chips</span>
  <span>Britain faces a simple choice. Now do you want to go to Halfords Margaret</span>
  <span>New Type of Guy discovered in Sumatra</span>
  <span>A Thoroughly Modern War Game For Peace</span>
  <span>Now 100% LOADED with wartime diseases</span>
  <span>Cheers thanks now the wean's crying</span>
  <span>Free zoo just announced</span>
  <span>wen me fook pusi, pusi turn red, gymnastic, now the pusi ded</span>
  <span>Ben Walker confirmed T House no 1 fan</span>
  <span>Big p*ss now illegal in JIffistan</span>
  <span>50% off all David Skaith merch for over 60s</span>
  <span>Praise Stew</span>
  <span>Schrecknet users please log off after using public library PCs</span>
  <span>Beware the hides of march</span>
  <span>BREAKING: an entire head of lettuce rammed up Jason</span>
    </div>
  </div>
</div>
