<div class="news-ticker">
  <div class="ticker-label">News</div>

  <div class="ticker-window">
<div class="ticker-track">
  Genny Lec LETS GO • Do you want me to beg for your vote? Because I will. I'll beg for it • Fush und chips • Britain faces a simple choice. Now do you want to go to Halfords Margaret • New Type of Guy discovered in Sumatra • A Thoroughly Modern War Game For Peace • Now 100% LOADED with wartime diseases • Cheers thanks now the wean's crying • Free zoo just announced • wen me fook pusi, pusi turn red, gymnastic, now the pusi ded • Ben Walker confirmed T House no 1 fan • Big p*ss now illegal in JIffistan • 50% off all David Skaith merch for over 60s • Praise Stew • Schrecknet users please log off after using public library PCs • Beware the hides of march • BREAKING: an entire head of lettuce rammed up Jason
</div>
  </div>
</div>
