<div class="news-ticker">

  <div class="ticker-label">
    News
  </div>

  <div class="ticker-window">
    <div class="ticker-track">

      <span>Now 100% LOADED with wartime diseases</span>

      <span>Free zoo just announced</span>

      <span>A Thoroughly Modern War Game For Peace</span>

      <span>Schrecknet users please log off after using public library PCs</span>

      <span>Beware the hides of march</span>

      <span>BREAKING: an entire head of lettuce rammed up Jason</span>

    </div>
  </div>

</div>
